<a href="https://colab.research.google.com/github/tahamukhtar20/COVID-19-Analytics-Dashboard/blob/main/Economy%7CEpidemiology.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [37]:
%cd /content/drive/MyDrive/Project
!ls

/content/drive/MyDrive/Project
 country_credentials.csv		    demographics_sex.csv
'Data Sheets.gsheet'			   'Economy|Epidemiology.ipynb'
 demographics_age.csv			   'Index|Demographics.ipynb'
 demographics_data.csv			    required_demographics.csv
 demographics_population_distribution.csv

In [38]:
import pandas as pd

In [39]:
economy_data = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/economy.csv")

In [40]:
print(economy_data.info)
economy_data.head()

<bound method DataFrame.info of     location_key       gdp_usd  gdp_per_capita_usd  human_capital_index
0             AD  3.154058e+09             40886.0                  NaN
1             AE  4.211423e+11             43103.0                0.659
2             AF  1.910135e+10               502.0                0.389
3             AG  1.727759e+09             17790.0                  NaN
4             AL  1.527808e+10              5352.0                0.621
..           ...           ...                 ...                  ...
399           WS  8.506550e+08              4315.0                  NaN
400           YE  2.759126e+10               968.0                0.369
401           ZA  3.514316e+11              6001.0                0.406
402           ZM  2.306472e+10              1291.0                0.396
403           ZW  2.144076e+10              1463.0                0.441

[404 rows x 4 columns]>

  location_key       gdp_usd  gdp_per_capita_usd  human_capital_index
0           AD  3.154058e+09             40886.0                  NaN
1           AE  4.211423e+11             43103.0                0.659
2           AF  1.910135e+10               502.0                0.389
3           AG  1.727759e+09             17790.0                  NaN
4           AL  1.527808e+10              5352.0                0.621

In [41]:
index_data = pd.read_csv("country_credentials.csv")

In [42]:
economy_data = economy_data[economy_data["location_key"].isin(index_data["country_code"])]
economy_data.reset_index(inplace=True, drop=True)
display(economy_data)

    location_key       gdp_usd  gdp_per_capita_usd  human_capital_index
0             AD  3.154058e+09             40886.0                  NaN
1             AE  4.211423e+11             43103.0                0.659
2             AF  1.910135e+10               502.0                0.389
3             AG  1.727759e+09             17790.0                  NaN
4             AL  1.527808e+10              5352.0                0.621
..           ...           ...                 ...                  ...
198           WS  8.506550e+08              4315.0                  NaN
199           YE  2.759126e+10               968.0                0.369
200           ZA  3.514316e+11              6001.0                0.406
201           ZM  2.306472e+10              1291.0                0.396
202           ZW  2.144076e+10              1463.0                0.441

[203 rows x 4 columns]

In [43]:
economy_data.fillna(0, inplace=True)
numeric_cols = [
"gdp_usd",	
"gdp_per_capita_usd",	
"human_capital_index",
]
for _,col in enumerate(numeric_cols):
    economy_data[economy_data[col] < 0] = 0
display(economy_data)

    location_key       gdp_usd  gdp_per_capita_usd  human_capital_index
0             AD  3.154058e+09             40886.0                0.000
1             AE  4.211423e+11             43103.0                0.659
2             AF  1.910135e+10               502.0                0.389
3             AG  1.727759e+09             17790.0                0.000
4             AL  1.527808e+10              5352.0                0.621
..           ...           ...                 ...                  ...
198           WS  8.506550e+08              4315.0                0.000
199           YE  2.759126e+10               968.0                0.369
200           ZA  3.514316e+11              6001.0                0.406
201           ZM  2.306472e+10              1291.0                0.396
202           ZW  2.144076e+10              1463.0                0.441

[203 rows x 4 columns]